@using MvcTicariOtomasyon.Models.Class
@model List<Employee>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />

<table class="table table-default" style="background-color:lavender">
    <tr><td>Personel Adı: @ViewBag.d</td></tr>
</table>

<br />
<table class="table table-hover">
    <tr>
        <th>Personel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonelAd @item.PersonelSoyad</td>
            <td><a href="/Department/DepartmanPersonelSatis/@item.PersonelID" class="btn btn-default" style="background-color:cornflowerblue">Satışlar</a></td>
        </tr>
    }
</table>
