
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<div style="background-color:darkgray">
    deneme
</div>
<br />
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Meli</td>
        <td>İs</td>
        <td>Test</td>
        <td><a href="#" class="btn btn-default" style="background-color:cornflowerblue">Satışlar</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Zehra</td>
        <td>İs</td>
        <td>Test</td>
        <td><a href="#" class="btn btn-default" style="background-color:cornflowerblue">Satışlar</a></td>
    </tr>
</table>