@using MvcTicariOtomasyon.Models.Class
@model List<CargoTracking>
@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<br />
<table class="table table-striped">
    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Aciklama</td>
            <td>@item.TarihZaman</td>
        </tr>
    }
</table>