@model IEnumerable<MvcTicariOtomasyon.Models.Class.ClassGroup2>
<table>
    <tr>
        <td>Departman</td>
        <td>Adet</td>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Departman</td>
                    <td>@item.Sayi</td>
                </tr>
            }
</table>
<br />
<div style="background-color:aquamarine">Partial View</div>